.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page h1{
    font-size: 5rem !important;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    color: var(--white);
    text-transform: lowercase;
}

.login-page h4, h2{
    color: var(--white);
}

.login-page h2{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "Kanit", sans-serif;
    margin-bottom: 20px;
}

.login-page h4{
    margin: 0.5rem 0;
    font-size: 1rem;
}

.home-button{
    font-size: 16px;
    text-decoration: none;
    
    border: none;
    color: var(--black);
    cursor: pointer;
    /* width: 100%; */
    margin-top: 20px;
}

.home-button:hover{
    color: var(--white);
}