.card-container{
  position: relative;
  margin: 1.5rem;
  /* perspective: 1000px; */
}

.front-card {
  position: absolute;
  top: 180px;
  background: url("../assets/images/bg-card-front.png") no-repeat center/cover!important;
  height: 230px;
  width: 320px;
  border-radius: 10px;
  z-index: 20;
}

.back-card {
  position: absolute;
  right: 20px;
  background: url("../assets/images/bg-card-back.png") no-repeat center/cover!important;
  height: 230px;
  width: 320px;
  border-radius: 10px;
}

.back-card p {
  top: 6.15rem;
}

.form-cards,
.thank-you {
  margin-top: 30px;
}

.cards-info{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.cards-info input{
  padding-left: 20px;
}

.cards-info label{
  margin-right: 10px;
}

.boton-tarjeta{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-card{
  margin-top: 10px;
  border: none;
  cursor: pointer;
  color: var(--white);
  border-radius: 20px;
  width: 145px;
  height: 40px;
  background-color: var(--black) !important;
  transition: background-color 0.3s ease;
}

.btn-card:hover{
  color: var(--black);
  background-color: var(--white) !important;
}


@media screen and (max-width: 425px) {
  .front-card,
  .back-card {
    height: 100px;
    width: 200px;
    border-radius: 20px;
  }

  .back-card p {
    top: 8.3rem;
  }

  .form-cards,
  .thank-you {
    margin-top: 500px;
  }
}

@media screen and (max-width: 768px) {
  .front-card,
  .back-card {
    height: 100px;
    width: 300px;
    border-radius: 20px;
  }

  .back-card p {
    top: 8.3rem;
  }

  .form-cards,
  .thank-you {
    margin-top: 500px;
  }
}


@media screen and (max-width: 1024px) {
  .front-card,
  .back-card {
    position: relative;
  }

  .front-card {
    top: 50px;
  }

  .back-card {
    right: 0;
  }

  .form-cards,
  .thank-you {
    margin-top: 0;
  }
}
  
  