.card-container{
  position: relative;
  margin: 1.5rem;
  /* perspective: 1000px; */
}

.front-card {
  position: absolute;
  top: 180px;
  background: url("../assets/images/bg-card-front.png") no-repeat center/cover!important;
  height: 230px;
  width: 320px;
  border-radius: 10px;
  z-index: 20;
}

.back-card {
  position: absolute;
  right: 20px;
  background: url("../assets/images/bg-card-back.png") no-repeat center/cover!important;
  height: 230px;
  width: 320px;
  border-radius: 10px;
}

.back-card p {
  top: 6.15rem;
}

.form-cards,
.thank-you {
  margin-top: 350px;
}

.form-cards label {
  @apply block uppercase tracking-wider text-slate-800 mb-2 text-sm;
}

.form-cards input {
  @apply border-2 border-slate-300 py-3 px-4 rounded outline-none w-full;
}

.btn {
  background-color: hsl(110, 76%, 43%);
  @apply py-3 px-6 rounded shadow text-white text-base tracking-wide lg:text-lg;
}

@media screen and (max-width: 425px) {
  .front-card,
  .back-card {
    height: 100px;
    width: 200px;
    border-radius: 20px;
  }

  .back-card p {
    top: 8.3rem;
  }

  .form-cards,
  .thank-you {
    margin-top: 500px;
  }
}

@media screen and (max-width: 768px) {
  .front-card,
  .back-card {
    height: 100px;
    width: 300px;
    border-radius: 20px;
  }

  .back-card p {
    top: 8.3rem;
  }

  .form-cards,
  .thank-you {
    margin-top: 500px;
  }
}


@media screen and (max-width: 1024px) {
  .front-card,
  .back-card {
    position: relative;
  }

  .front-card {
    top: 50px;
  }

  .back-card {
    right: 0;
  }

  .form-cards,
  .thank-you {
    margin-top: 0;
  }
}
  
  