.title{
    font-family: "Kanit"!important;
    font-size: 3rem;
    color: var(--white);
    font-weight: 800;
    margin: 20px;
    text-align: center;
}

.outstanding, .this-week{
    width: 100%;
}

.buscadores {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .buscadores{
        flex-wrap: wrap;
    }
}