/* Estilos para dispositivos pequeños */
@media only screen and (max-width: 767px) {
  .about-us {
    padding: 20px;
    margin-bottom: 30px;
  }

  .about-us h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .about-us p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  /* Ajustar el tamaño del botón */
  .about-us button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 360px;
    background-color: var(--black);
    color: var(--white);
    transition: background-color 0.3s ease;
  }
}

/* Estilos para dispositivos medianos y grandes */
@media only screen and (min-width: 768px) {
  .about-us {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin: 50px;
  }

  .about-us h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  .about-us p {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .buscadores{
    display: flex;
    justify-content: space-around;
  }

  .buscador input{
    padding: 10px;
    color: var(--light-brown);
  }

  .prov input{
    padding: 10px;
    color: var(--light-brown);
  }


  /* Ajustar el tamaño del botón */
  .about-us button {
    font-size: 1rem;
    padding: 12px 20px;
  }

  .nosotros-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nosotros-img img{
    width: 700px;
    height: auto;
  }

  .contenido-nosotros p{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 150px;
    margin-bottom: 150px;
    color: var(--white);
  }
}
