.cart-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: relative;
}

.cart-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
}

.cart-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.cart-item {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.cart-item-remove-btn {
  padding: 0.25rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.cart-total {
  margin-top: 1rem;
  font-weight: bold;
}

/*
.card-container{
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */