.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 70%;
}

.form-group{
  width: 100%;
}

.signup-form label {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--black);
}

.signup-form input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.signup-form .form-button {
  align-self: center;
  justify-self: center;
  font-size: 16px;
  padding: 10px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  grid-column: span 2;
  text-align: center;
}

.signup-form .form-button:hover {
  opacity: 0.8;
}

.signup-form .error-message {
    color: var(--white);
    font-size: 14px;
    font-style: italic;
    margin: 0.5rem 0;
}

.my-link-style {
  margin: 1rem 0;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

.radio-buttons {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}