.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 300px;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

/* .login-title {
  font-size: 28px;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
} */

.login-form label {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--black);
}

.login-form input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.login-form .form-button {
  font-size: 16px;
  padding: 1rem;
  border: none;
  background-color: var(--black);
  color: var(--white);
  border-radius: 360px;
  cursor: pointer;
  width: 100%;
}

.login-form .form-button:hover {
  background-color: var(--light-brown);
  color: var(--white);
}

.login-form .error-message {
  color: var(--white);
  font-size: 14px;
  font-style: italic;
  margin: 0.5rem 0;
}

.my-link-style {
  margin: 1rem 0;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

.password-forgotten {
  font-size: 14px;
  text-align: left;
  font-style: italic;
  margin: 0.5rem 0;
  width: 100%;
}

.custom-search {
  position: relative;
  width: 300px;
}

.custom-search-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 7px;
  border: 0;
  background: none;
  width: 20%;
  /* height: 100%; */
  font-size: 2rem;
  color: var(--black);
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
}
