.botonGoogle {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 100%!important;
    padding: 1rem;
    background: #D1D1D1!important;
    color: var(--black);
    cursor: pointer;
    border-radius: 360px;
}

.botonGoogle:disabled {
    background-color: var(--white);
    color: var(--black);
    cursor: not-allowed;
}

.botonGoogle:hover{
    background-color: var(--black);
    color: var(--white);
}