.google {
    display: flex;
    justify-content: center;
}

.botonGoogle {
    margin: 10px !important;
    width: 300px !important;
    border: none !important;
    padding: 5px;
    background-color: var(--white) !important;
    color: var(--black) !important;
    cursor: pointer !important;
    border-radius: 20px !important;
}

.botonGoogle:disabled {
    background-color: var(--white) !important;
    color: var(--black) !important;
    cursor: not-allowed !important;
}

.botonGoogle:hover{
    background-color: var(--black) !important;
    color: var(--white) !important;
}