@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --white: #FFFFFF;
  --light-brown: #CCB384;
  --red: #EA5959;
  --black: #2D2D2D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', "sans-serif";
  font-size: 18px;
  /* background-size: 50%; */
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  height: 100%;
  background: var(--red);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

body::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--red) url("./assets/background2.png") center center;
  background-size: contain;
  background-repeat: repeat;
  /* fixed */
  /* background-attachment: fixed; */
  z-index: -1;
  opacity: 0.2; 
}

@media screen and (max-width: 768px){
  body::after{
    background-attachment: scroll;
  
    /* background: var(--red) url("./assets/Publico-01.png"); */
    background-size: contain;
    /* opacity: 0.08;  */
  }
}