.form-groupp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-groupp button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 360px;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 150px;
    margin: 10px;
}

.form-groupp button:hover{
    background-color: var(--white) !important;
    color: var(--black);
}

.error-message{
    color: var(--white);
    font-size: 1rem;
    margin: 0;
    font-style: italic;
}

.formulario-eventos input{
    padding: 8px;
    margin-bottom: 10px;
}

.formulario-eventos label{
    font-size: 1.1rem;
}

.form-provincias{
    margin-right: 10px;
}