.create-edit-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  gap: 3rem;

}

.title-form{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    margin: 1rem 0;
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}

.info-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button-container button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 360px;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 150px;
  margin: 10px;
}

.form-button-container button:hover {
  background-color: var(--white) !important;
  color: var(--black);
}

.error-message {
  color: var(--white);
  font-size: 1rem;
  margin: 0;
  font-style: italic;
}

.formulario-eventos input, .description-input {
    padding: 0.5rem;
  margin-bottom: 10px;
  font-size: 1.1rem;
  width: 100%;
}

.formulario-eventos label{
    font-size: 1.1rem;
    font-weight: 700;
    margin: .5rem 0!important;
    color: var(--white);
}

.form-provincias {
  margin-right: 10px;
}

.input-file-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 100px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
  -webkit-box-shadow: inset 14px 11px 9px -10px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: inset 14px 11px 9px -10px rgba(0, 0, 0, 0.28);
  box-shadow: inset 14px 11px 9px -10px rgba(0, 0, 0, 0.28);
  background-color: #e45252;
}

.image-upload p {
  text-align: center;
  font-weight: 400;
}

.image-upload img {
  margin: 0 auto;
}

.image-upload > .input-file-image {
  display: none;
}

.states, .form-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
    padding: 0.5rem 0;
    color: var(--black);
}

.event-info-image{
    color: var(--white);
    margin: 1rem 0;
}


/* media queries 480, 768 and 1024 px */
@media screen and (max-width: 1024px) {
  .create-edit-form {
    flex-direction: column;
    width: 90%;
  }

  .info-left {
    width: 100%;
  }

  .info-right {
    width: 100%;
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .create-edit-form {
    flex-direction: column;
    width: 90%;
  }

  .info-left {
    width: 100%;
  }

  .info-right {
    width: 100%;
    order: 1;
  }
}

@media screen and (max-width: 480px) {
  .create-edit-form {
    flex-direction: column;
    width: 90%;
  }

  .info-left {
    width: 100%;
    order: 2;
  }

  .info-right {
    width: 100%;
    order: 1;
  }
}
