/* Cards.css */

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}


.card-ticket {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  height: 350px;
  /* width: 80%; */
  transition: transform 0.3s ease-in-out;
}

.card-ticket img {
  display: block;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card-ticket:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-ticket:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}