form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.label-contacto {
  font-weight: bold;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
  display: block;
}

.contacto input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 0;
  margin-bottom: 0.5rem;
  font-size: 16px;
  width: 300px;
  box-sizing: border-box
}

.preguntas h2,
p {
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 0;
  margin-bottom: 0.5rem;
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
  height: 150px;
  /* limit */
  resize: none;
}

.preguntas {
  color: var(--white);
}

.preguntas h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
  margin-top: 80px;
}

.preguntas p {
  font-size: 1.2rem;
  margin: 10px;
}

.enviar {
  background-color: var(--black) !important;
  color: var(--white);
  border: none;
  border-radius: 360px;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
}

.enviar:hover {
  background-color: var(--light-brown) !important;
  color: var(--white);
}

.error {
  /* text-red-500 text-xs italic */
  color: #e53e3e;
  font-size: 14px;
  font-style: italic;
  margin: 0.5rem 0;
}

.titulo-nosotros {
  font-size: 5rem !important;
  font-family: "Kanit", sans-serif;
}

.feedback {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  color: gainsboro;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formularios {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  width: 70%;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 900px) {
  .formularios {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}